@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WEEK8APP.DTO.ViewModels.MessengerViewModel
@{

}

<head>
    <title>Send Message to @Model.User.FullName</title>
</head>

<h3 class="text-capitalize text-black-50 text-center">Register User</h3>

<hr />
<div class="row align-content-center">
    <div class="col-md-12">
        <form asp-action="SendMessagePost" asp-controller="Home" method="post" style="padding-left:30%; padding-right:30%;">
            <div asp-validation-summary="ModelOnly" class="text-danger align-items-center">

            </div>

            <div class="form-group">
                <label class="control-label">Contact</label>
                <label class="control-label">@Model.User.Mobile</label>
            </div>

            <div class="form-group">
                <label class="control-label">Recipient</label>
                <label class="control-label">@Model.User.FullName</label>
            </div>

            <div class="form-group">
                <label class="control-label">Message</label>
                <textarea rows="5" cols="40" placeholder="@Model.Messenger.MessageBody"></textarea>
            </div>


            <div class="form-group">
                <input type="submit" value="SEND" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
